{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}
	<div class="appbar">
	</div>
	<div class="page_container">
            {%for video in videos%}		
			<a href="{{video.get_absolute_url}}"><img class="video" src="{{video.ubimg}}" alt="{{video.ubimg}}"/></a>
			{%empty%}
			<h1>No hay Videos</h1>
			{%endfor%}
			{%for video in videos%}		
			<a class="description-v" href="{{video.get_absolute_url}}" title="{{video.titulo}}">{{video.titulo}}</a>
			{%empty%}
			<h1>No hay Videos</h1>
			{%endfor%}
			
	</div>
{%endblock content%}	